html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-family-body;
  line-height: 1.5;
  font-size: 15px;
  color: $black;
  background: $beige;
  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    right: 0;
    bottom: 0;
    background: rgba($black, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease;
  }
  &.offcanvas-menu {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}
a {
  color: $primary;
  transition: 0.3s all ease;
  &:hover {
    color: $green !important;
    text-decoration: none;
  }
}
h1 {
  font-family: "Italiana", sans-serif;
  font-size: $font-size-xl !important;
}

h2,
h3,
h4,
h5 {
  color: $heading_color;
  font-family: "Raleway", sans-serif;
}
.text-primary {
  color: $primary !important;
}

.text-black {
  color: $black !important;
}
a.text-primary {
  color: $primary !important;
  &:hover {
    color: $primary !important;
  }
}
.bg-primary {
  background-color: $primary !important;
}

h1,
.h1 {
  font-family: "Italiana", "Josefin Sans";
  font-weight: 100 !important;
}

h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: "Bodoni Moda", sans-serif;
}

.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.4px;
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &.btn-primary {
    background: $primary;
    border-color: $primary;
    &:hover {
      border-color: lighten($primary, 4%);
      background: lighten($primary, 4%);
    }
  }
  &.btn-teal {
    background: $teal;
    border-color: $teal;
    color: $white;
    text-transform: uppercase;
    &:hover {
      border-color: $green;
      background: $green;
      color: white !important;
    }
  }
  &.btn-white {
    background-color: $white;
    &:hover {
      background-color: transparent;
      border-color: $white;
      color: $white;
    }
  }
  &.btn-outline-white {
    border: 1px solid $white;
    &:hover {
      background: $white;
      color: $primary !important;
    }
  }

  &.btn-outline-black {
    border: 1px solid rgba($black, 0.1);
    &:hover {
      background: transparent;
      color: $primary !important;
    }
  }
}
.btn-faqs {
  letter-spacing: 0 !important;
  font-weight: normal !important;
}

.form-control,
.custom-select {
  border: 1px solid $black;
  font-size: 16px;
  height: 45px;
  background: transparent;
  color: $black;
  &:active,
  &:focus {
    border-color: $primary;
    box-shadow: none;
    color: $black;
    background: transparent;
  }
}

.gutter-v1 {
  margin-right: -20px;
  margin-left: -20px;
  @include media-breakpoint-down(md) {
    margin-left: -15px;
    margin-right: -15px;
  }
  > .col,
  > [class*="col-"] {
    padding-right: 20px;
    padding-left: 20px;
    @include media-breakpoint-down(md) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.spinner-border {
  color: $primary;
}
/*PRELOADING------------ */
#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: $beige;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.position-relative {
  position: relative;
}

// Custom
.signature {
  font-family: "Segatha";
  font-size: $font-size-l;
}
.more-link {
  width: 100%;
  color: white !important;
  font-size: $font-size-sm;
  text-transform: uppercase;
  padding: 7px;
}

//Serviços
.features-section {
  margin-bottom: 200px;
  & h4 {
    color: $red;
    margin: 18px 0 30px 0;
    text-align: center;
  }
  p {
    margin-bottom: 25px;
  }
}

//Especialidades detalhadas
.services-section {
  background-color: $green;
  h2,
  p {
    color: white;
  }
  .line {
    background-color: white;
  }
}
.wrap-icon {
  text-align: center;
  & img {
    max-width: 60px;
  }
}
.container {
  padding: 0 20px !important;
}

@media only screen and (max-width: 600px) {
  .order-sm-1 {
    order: 1 !important;
  }
  .order-sm-2 {
    order: 2 !important;
  }
  #faqs {
    h2 {
      margin-top: 50px;
    }
  }
  .schedule-service {
    margin-top: 50px;
  }
  .links {
    justify-content: space-between;
  }

  .features-section {
    margin-bottom: 50px;
  }
}
