.site-section,
.section,
.section-2,
.section-4 {
  padding: 100px 0;
  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }
}
.section-services-intermediate {
  margin: 180px 0;
}
.more {
  font-size: 1rem;
  font-weight: 700;
  color: $black;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.serif {
  font-family: $font-family;
}

.line {
  width: 50px;
  height: 1px;
  background-color: $black;
}
.schedule-service {
  font-size: $font-size-xl-l;
}
