@import "fonts";
@import "functions";
@import "variables";
@import "mixins";

$primary: #000;
$black: #000000;
$white: #ffffff;
$heading_color: #000;
$heading_light_color: rgba($heading_color, 0.5);
$font-family: "Josefin Sans", serif;
$font-family-body: "Josefin Sans", serif;

@import "site-base";
@import "site-navbar";
@import "site-blocks";
// @import 'site-style';
@import "site-elements";
@import "site-footer";
